include README.md
include LICENSE
include pyproject.toml
recursive-include src/sysvex *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .gitignore
exclude .git
exclude venv
exclude .venv
exclude *.egg-info
